@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?d9dljc');
  src:  url('fonts/icomoon.eot?d9dljc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?d9dljc') format('truetype'),
    url('fonts/icomoon.woff?d9dljc') format('woff'),
    url('fonts/icomoon.svg?d9dljc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
}
.icon-magnifier:before {
  content: "\e900";
}
.icon-lookup:before {
  content: "\e900";
}
.icon-find:before {
  content: "\e900";
}
